<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239633005577-3neesa1hq3ebr7jkfofji4gtnj1c5g7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239633005577-3neesa1hq3ebr7jkfofji4gtnj1c5g7n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>239633005577-1eii94if6i1hdncudb6tofl9b7g7ru2a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCu9Xl3xA4Hgx-8cZ0TT52i8D7g_pif9bo</string>
	<key>GCM_SENDER_ID</key>
	<string>239633005577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.notanerd.app</string>
	<key>PROJECT_ID</key>
	<string>notanerd-c17a2</string>
	<key>STORAGE_BUCKET</key>
	<string>notanerd-c17a2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239633005577:ios:93450aebcdb1d01a454cd8</string>
</dict>
</plist>